<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="myplugin.commands.category">
      </category>
      <command
            name="新建java"
            categoryId="myplugin.commands.category"
            id="myplugin.commands.sampleCommand">
      </command>
      <command
            name="新建jsp"
            categoryId="myplugin.commands.category"
            id="sampleCommand222">
      </command>
      <command
            name="自动生成"
            categoryId="myplugin.commands.category"
            id="sampleCommand333">
      </command>
      <command
            name="搭建环境"
            categoryId="myplugin.commands.category"
            id="sampleCommand444">
      </command>
      <command
            name="打开文件"
            categoryId="myplugin.commands.category"
            id="sampleCommand555">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="myplugin.commands.sampleCommand"
            class="org.slave4j.actions.CreateJavaAction">
      </handler>
      <handler
            commandId="sampleCommand222"
            class="org.slave4j.actions.JspCodeGenerationAction">
      </handler>
      <handler
            commandId="sampleCommand333"
            class="org.slave4j.actions.CodeGenerationAction">
      </handler>
      <handler
            commandId="sampleCommand444"
            class="org.slave4j.actions.BuildEnvironmentAction">
      </handler>
      <handler
            commandId="sampleCommand555"
            class="org.slave4j.actions.OpenExplorerAction">
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="myplugin.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+h"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="sampleCommand222"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+j"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="sampleCommand333"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+k"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="sampleCommand444"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+l"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
       <key
            commandId="sampleCommand555"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+8"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="工具栏"
               mnemonic="M"
               id="myplugin.menus.sampleMenu">
            <command
                  commandId="myplugin.commands.sampleCommand"
                  mnemonic="S"
                  id="myplugin.menus.sampleCommand">
            </command>
            <command
                  commandId="sampleCommand222"
                  mnemonic="S"
                  id="myplugin.menus.sampleCommand222">
            </command>
            <command
                  commandId="sampleCommand333"
                  mnemonic="S"
                  id="myplugin.menus.sampleCommand333">
            </command>
            <command
                  commandId="sampleCommand444"
                  mnemonic="S"
                  id="myplugin.menus.sampleCommand444">
            </command>
            <command
                  commandId="sampleCommand555"
                  mnemonic="S"
                  id="myplugin.menus.sampleCommand555">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="myplugin.toolbars.sampleToolbar">
            <command
                  commandId="myplugin.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="myplugin.toolbars.sampleCommand">
            </command>
            <command
                  commandId="sampleCommand222"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="myplugin.toolbars.sampleCommand222">
            </command>
            <command
                  commandId="sampleCommand333"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="myplugin.toolbars.sampleCommand333">
            </command>
            <command
                  commandId="sampleCommand444"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="myplugin.toolbars.sampleCommand444">
            </command>
            <command
                  commandId="sampleCommand555"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="myplugin.toolbars.sampleCommand555">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
