<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace可以随便命名 -->
<mapper namespace="com.permission.modules.dao.ILoginDao">

    <select id="queryUser" resultType="userVO">
        select username userName from ts_user where username = '441824197211160629'
    </select>
    
    <select id="registUser" resultType="userVO">
        select username userName from ts_user
    </select>
    
    
</mapper>